body{
    
    margin: 50px;
	background: orange;
	
  }
#searchbar{
	
	padding:15px;
	border-radius: 20px;
	margin-bottom: 20px;
}

input[type=text] {
	width: 70%;
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom:10px;
	margin-bottom: 20px;
	border-radius: 20px;
    font-style: italic;
	font-weight: bold;
	
	
    
}
input[type=number] {
	width: 70%;
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom:10px;
	margin-bottom: 20px;
	border-radius: 20px;
	font-style: italic;
	font-weight: bold;
	font-stretch:ultra-expanded
	
    
}

input[type=email] {
	width: 70%;
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom:10px;
	margin-bottom: 20px;
    border-radius: 20px;
    font-style: italic;
	font-weight: bold;
	
    
}

input[type=button] {
	width: 70%;
	box-sizing: border-box;
	padding-top: 10px;
	padding-bottom:10px;
	margin-bottom: 20px;

	
    
}

button{
	
	margin-bottom: 20px;
	background: rgb(12, 192, 57);
    color: white;
    border-style: outset;
border-color: #47ad03;
height: 50px;
width: 100px;
font: bold15px arial,sans-serif;
text-shadow: none;
border-radius: 14px;


   
}
button:hover{
	background: #4fd60b;
color: #fff;
border: 1px solid #eee;
border-radius: 14px;
box-shadow: 5px 5px 5px rgb(34, 48, 29);
text-shadow: none;
}

input[type=text]:focus {
	width: 70%;
}
input[type=email]:focus {
	width: 70%;
}
p{
	margin-right: 800px;
	
}


form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
	margin-bottom: 10px;
    
  }