<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.socket.io/4.4.1/socket.io.js"></script>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/login.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="title">Login</div>
      <div class="content">
        <form method="post" onsubmit="event.preventDefault()">
          <div class="user-details">
            <div class="input-box">
              <span class="details" id="username">Username</span>
              <input type="text" placeholder="Enter your username" required />
            </div>

            <div class="input-box">
              <span class="details" id="password">Password</span>
              <input
                type="password"
                placeholder="Enter your password"
                id="passwordId"
                required
              />
            </div>
            <div class="input-box">
              <span class="details" id="aadhar">Aadhar</span>
              <input
                type="number"
                id="aadharId"
                placeholder="Enter aadhar"
                required
              />
            </div>
          </div>
          <div class="button" id="but">
            <input id="submitBut" type="submit" value="Login" />
          </div>
        </form>

        <script src="/js/login.js"></script>
      </div>
    </div>
  </body>
</html>
