<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <script src="https://cdn.socket.io/4.4.1/socket.io.js"></script>
  </head>
  <body>
    <form onsubmit="caller()">
      <input type="text" id="aadharNoId" />
      <input type="password" id="passwordId" />
      <input type="submit" value="Login" />
    </form>
    <p id="parag"></p>
    <p><%= (typeof error != "undefined" ? error?.message : "") %></p>
    <a href="/Home">HOme</a>
    <button id="homeButton" onclick="home()">go to home</button>
    <script src="/js/clientsocket.js"></script>
    <script src="/js/login.js"></script>
  </body>
</html>
